[buildout]
extends = http://dist.plone.org/release/4.2-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.2-latest/
    http://dist.plone.org/thirdparty/

eggs = 
    collective.polls
unzip = true
versions = versions

parts = instance

[versions]
# Only for Plone 4.2
collective.polls = 1.0
collective.js.jqueryui = 1.8.16.9

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
    ${buildout:eggs}
zcml =
environment-vars = zope_i18n_compile_mo_files true
